{% extends 'base.html.twig' %}

{% block body %}
    {{ include('layout/mainMenu.html.twig', {'current' : 'users'}) }}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container">

        <h1>User Add (users/add)</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create"/>
        <a href="{{ path('users') }}"><input type="button" class="btn btn-defaut"
                                                                             value="Back"/></a>
        {{ form_end(form) }}

    </div>
{% endblock %}
