{% extends 'base.html.twig' %}

{% block body %}
    {{ include('layout/mainMenu.html.twig', {'current' : 'users'}) }}

    <div class="container" style="display:flex; justify-content: space-around;">

        <div id="container">
            <h1>Show Users</h1>
            <div>
                <span>Id : </span><span>{{ user.id }}</span>
            </div>
            <div>
                <span>Username : </span><span>{{ user.username }}</span>
            </div>
            <div>
                <span>eMail : </span><span>{{ user.email }}</span>
            </div>
            <div>
                <span>Date : </span><span>{{ user.date|date("Y-m-d") }}</span>
            </div>
            <a href="{{ path('edit', {'id' : user.id}) }}" class="btn btn-primary btn-xs">Edit</a>
            <a href="http://localhost/udev_symfony/web/app_dev.php/users"><input type="button" class="btn btn-defaut"
                                                                                 value="Back"/></a>
        </div>

        <div id="container">
            {{ render(controller('AppBundle:User:otherUserWidget', {'id':user.id})) }}
        </div>

    </div>
{% endblock %}