{% extends 'base.html.twig' %}
{% block body %}
    {{ include('layout/mainMenu.html.twig', {'current' : 'users'}) }}

    <div class="container">
        <h1>User List</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">USERNAME</th>
                <th scope="col">MAIL</th>
                <th scope="col">DATE</th>
                <th scope="col">UPDATE</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.username }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date|date("Y-m-d") }}</td>
                    <td>
                        <a href="{{ path('show', {'id' : user.id}) }}" class="btn btn-primary btn-xs">Show</a>
                        <a href="{{ path('delete', {'id' : user.id}) }}" class="btn btn-primary btn-xs">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('add') }}" class="btn btn-primary btn-xs">Add</a>
    </div>
{% endblock %}
