{% extends 'base.html.twig' %}
{% block body %}
    {{ include('layout/mainMenu.html.twig', {'current' : 'users'}) }}

    <div class="container">
        <h1>Articles</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Date de parution</th>
            </tr>
            </thead>
            <tbody>
            {% for value in articles %}
                <tr>
                    <th scope="row">{{ value.id }}</th>
                    <td>{{ value.subject }}</td>
                    <td>{{ value.body }}</td>
                    <td>{{ value.date|date("Y-m-d") }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
