{% extends 'base.html.twig' %}
{% block body %}
    <!-- ajout d'une feuille de style-->
    <link href="{{ asset('css/articles.css') }}" rel="stylesheet">
    {{ include('layout/mainMenu.html.twig', {'current' : 'article'}) }}

    <div class="container">
        <h1>Articles</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Subject</th>
                <th scope="col">Body</th>
                <th id="thdate" scope="col">Date</th>
                <th id="thbutt" scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
            {% for value in articles %}
                <tr>
                    <th scope="row">{{ value.id }}</th>
                    <td>{{ value.subject }}</td>
                    <td>{{ value.body }}</td>
                    <td>{{ value.date|date("Y-m-d") }}</td>
                    <td>
                        <a href="{{ path('article_show', {'id' : value.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('article_delete', {'id' : value.id}) }}" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="container footer-button" style="display: flex">
            <div class="container button"><a href="{{ path('article_add') }}" class="btn btn-primary btn-xs">Add</a>
            </div>
            <div class="container  button">{{ knp_pagination_render(articles) }}</div>
        </div>

    </div>
{% endblock %}
