{% extends 'base.html.twig' %}

{% block body %}
    {{ include('layout/mainMenu.html.twig', {'current' : 'articles'}) }}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Show Articles</h1>
                <div>
                    <span>N° : </span><span>{{ article.id }}</span>
                </div>
                <div>
                    <span>Subject : </span><span>{{ article.subject }}</span>
                </div>
                <div>
                    <span>Body : </span><span>{{ article.body }}</span>
                </div>
                <div>
                    <span>Date : </span><span>{{ article.date|date("Y-m-d") }}</span>
                </div>
                <a href="{{ path('article_edit', {'id' : article.id}) }}" class="btn btn-primary btn-xs">Edit</a>
                <a href="{{ path('articles') }}"><input type="button" class="btn btn-defaut" value="Back"/></a>
            </div>

            <div class="col-md-6 col-sm-12">
                {{ render(controller('AppBundle:Article:otherArticleWidget', {'id':article.id})) }}
            </div>
        </div>
    </div>
{% endblock %}